/* General styling */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fefae0;
}

/* Flex container for centering the title */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Title styling */
.title {
  text-align: center;
}

h1 {
  margin-top: 50px;
  font-size: 2.5rem; /* Adjust size as needed */
  color: #283618;
}

h2 {
  font-size: 1.5rem; /* Adjust size as needed */
  text-align: center;
  color: #283618;
}

h3 {
  color: #dda15e;
  font-size: 25px;
}

h4 {
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
  color: #283618;
}

/* Profile image styling */
.profilbild {
  width: 200px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  border-radius: 50%;
  position: absolute;
  top: 20px; /* Distance from top */
  right: 30px; /* Distance from right */
}

.description {
  color: #fefae0;
  margin: 20px;
}

ul {
  list-style: none;
}

.contactMe {
  text-align: center;
  padding-bottom: 25px;
}
@media (min-width: 769px) {
  .container2 {
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .container2 > * {
    width: 30%;
    height: auto;
    border-radius: 10px;
    background-color: #606c38;
    text-align: center;
    padding: 10px;
    margin-top: 55px;
    margin-bottom: 20px;
  }

  .pic2 {
    width: 90%;
    margin: 10px;
  }

  .pic3 {
    margin: 20px;
    width: 90%;
  }

  .container3 {
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .container3 > * {
    width: 26%;
    height: auto;
    background-color: #606c38;
    border-radius: 10px;
    text-align: center;
  }

  .box4 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content */
  }

  /* Override profilbild styles */
  .profilbild {
    position: static; /* Remove absolute positioning */
    margin: 20px auto; /* Center image and add vertical spacing */
    width: 150px; /* Adjust size if needed */
    height: 150px; /* Adjust size if needed */
  }

  .container2 {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container2 > * {
    width: 80%; /* Adjust as needed */
    height: auto;
    border-radius: 10px;
    background-color: #606c38;
    text-align: center;
    padding: 10px;
    margin-top: 55px;
  }

  .pic2 {
    width: 90%;
    margin: 10px;
  }

  .pic3 {
    margin: 20px;
    width: 90%;
  }

  .container3 {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container3 > * {
    width: 80%;
    height: auto;
    background-color: #606c38;
    border-radius: 10px;
    text-align: center;
  }
}

.pic4 {
  margin: 20px;
  width: 90%;
}
